{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Contact-Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col-lg-8 mx-auto">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 100%;">
            <center>
                <h3 style="font-weight: bold;">Emmanuel Nsubuga</h3>
                <p class="mb-2" style="font-size: 1.1rem; font-weight: 400;">
                    <span style="font-weight: 600;">BSc. Data Science and Analytics</span><br>
                    Uganda Christian University<br>
                    Technical Lead - Data Science UCU-Chapter<br>
                    Founder - Cognitive Evolution Nexus (CEN) Analytics<br>
                    <em>"Connecting Minds, Driving Data, Shaping Tomorrow."</em>
                </p>
                <p style="font-size: 1rem; color: #555;">
                    Emmanuel Nsubuga is a passionate data scientist, open-source contributor, and technical leader dedicated to advancing analytics and AI in Africa. He is the founder of CEN Analytics, a community builder, and a contributor to open-source projects. Emmanuel is committed to empowering the next generation of data professionals through education, mentorship, and innovative projects. <br>
                    <span style="font-weight: 500;">Specialties:</span> Data Science, Machine Learning, Deep Learning, AI, Blockchain, Flutter App Development, Community Leadership, Open Source.<br>
                    <span style="font-weight: 500;">GitHub:</span> <a href="https://github.com/Cemputus" target="_blank">https://github.com/Cemputus</a>
                </p>
                <div class="mt-3 mb-2">
                    <h5>Contact:</h5>
                    <span style="font-size: 1.1rem;">+256775064042 / +256741539324</span><br>
                    <a target="_blank" href='mailto:ensubuga019@gmail.com'><img src="https://image.flaticon.com/icons/png/512/281/281769.png" height="32" width="32"></a>
                    <a target="_blank" href='https://github.com/Cemputus'><img src="https://image.flaticon.com/icons/png/512/25/25231.png" height="32" width="32"></a>
                    <a target="_blank" href='https://www.linkedin.com/in/emmanuel-nsubuga-2b7b1b1b2/'><img src="https://image.flaticon.com/icons/png/512/174/174857.png" height="32" width="32"></a>
                </div>
            </center>
        </div>
    </div>
</div>

{% endblock body %}